h6{
    font-size: 17px;
    font-weight: bold;
}

.card-box > div:nth-child(even) {
    background-color: gainsboro;
}


.card-box{
    background-color: #f3f2f2;
    border: 1px solid black;
    width: 515px;

    height: 175px;
    overflow: overlay;
}

.Card{
    display: flex;
    flex-direction: row;

    margin-bottom: 25px;
}

.sec{
    padding-left: 10px;
}

.card-box a{
    color: unset;
}
.card-box a:hover{
    color: #1D57AA;
    font-weight: bold;
    font-size: large;
    transition: font-size 0.2s ease; 
}

a:hover{
    font-weight: 600;
}


@media only screen and (max-width: 1150px) {
    .Card .card-box{
        width: 400px;
    }
}

@media only screen and (max-width: 940px) {
    .Card .card-box{
        width: 350px;
    }
}

@media only screen and (max-width: 840px) {
    .Card .card-box{
        width: 250px;
    }
}

.card-content{
    width:max-content;
}

.main{
    padding-right: 3rem !important;
    padding-block: 5px;
}